################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Database/LoginDB_log.ldf
/Database/LoginDB.mdf
